{
  "presets": [
    "env",
    "react",
    "airbnb"
  ],
  "env": {
    "server": {
      "plugins": [
        [
          "css-modules-transform", {
          "preprocessCss": "./loaders/sass-loader.js",
          "generateScopedName": "[hash:8]",
          "extensions": [".scss"]
        }
        ]
      ]
    }
  }
}
