@import "d3tip";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');


#redirect-form {
  display: none;
}

.mainContainer {
  margin-top: $nav-bar-height;
}

body {
  font-family: 'Roboto', sans-serif;
}