html {
    min-height: 100%; /* make sure it is at least as tall as the viewport */
    position: relative;
}

body {
    background: linear-gradient(rgba(251, 218, 97, 0.5), rgba(247, 107, 28, 0.5));
    font-size: 2em;
    font-family: Arial, serif;
    height: 100%;
}

.loginForm {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-image {
    max-width: 90%;
    max-height: 90%;
}

#login-button {
    background-color: #F76B1C;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 10em;
    max-width: 200px;
    height: 2em;
    line-height: 2em;
    text-align: center;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

#login-button:hover {
    background-color: #ff4f24;
}

@media only screen and (max-device-width : 1200px) {
    #login-button {
        height: 2em;
        line-height: 2em;
    }
}

@media only screen and (max-device-width: 768px) {
    #login-button {
        height: 3em;
        line-height: 3em;
    }
}