<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script>var redirectData = <%- JSON.stringify(userData) %>;</script>
    <link rel="stylesheet" href="./loginPage/login.css">
</head>
<body>
<div class="loginForm">
    <img class="logo-image" src="./loginPage/logo.svg" }>
    <div id="login-button" onClick="login()">Увійти</div>
</div>
</body>
<script type="text/javascript" src="./loginPage/login.js"></script>
</html>