@import "../../shared/stylesheets/colors";
@import "../../shared/stylesheets/variables";

.configPanel {
  display: none;
  background-color: $marine;
  color: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: $config-panel-width;
  height: 100%;
  margin-top: $nav-bar-height;
  padding: 10px;
}

.active {
  display: block;
}