$bg_color1: #085078 10%;
$bg_color2: #85d8ce 90%;

body {
  background: -webkit-linear-gradient(45deg, $bg_color1, $bg_color2);
  background: -moz-linear-gradient(45deg, $bg_color1, $bg_color2);
  background: -ms-linear-gradient(45deg, $bg_color1, $bg_color2);
  background: -o-linear-gradient(45deg, $bg_color1, $bg_color2);
  background: linear-gradient(45deg, $bg_color1, $bg_color2);
}

.statistic_container {
  padding-top: 10px;
}

.links {
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  justify-content: space-around;
  .button-link {
    padding: 10px;
    border-radius: 2px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  .login-form {
    padding: 30px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    .button-login {
      background-color: #4b6393;
      color: white;
      padding: 10px;
      cursor: pointer;
      border-radius: 3px;
      width: 200px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;
      .button-icon {
        width: 30px;
        height: 30px;
        margin-left: 5px;
      }
    }
    .manual-login {
      .user-info-select {
        margin-bottom: 5px;
      }
      .not-selected-info {
        color: red;
      }
    }
  }
}

.statistic_container {
  max-height: calc(100vh - 100px);
  .user-list-chart {
    display: flex;
    flex-direction: column;
    .table-container {
      overflow-y: auto;
    }
    .line-chart {
      flex: 0 0 300px;
      .line {
        stroke: orange;
        stroke-width: 2;
        fill: none;
      }
      .circles {
        circle {
          fill: rgb(185, 124, 8);
        }
      }
    }
  }
}

#redirect-form {
  display: none;
}
